* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    padding: 1rem;
}


#fetchButton {
    padding: 0.5rem 1rem;
    background-color: #689cf1;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


#loader {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    display: none;
  }
  
  #dataContainer {
    margin-top: 10px;
  }